.butt1 {
  border-radius: 20px;
  background-color: #7768e4;
  color: #ffffff;
  border: 0 solid;
  padding: 10px 18px;
  display: inline-block;
  left: -60px;
  margin-top: 20px;
  margin-right: 10px;
}
.butt2 {
  border-radius: 20px;
  background-color: #7768e4;
  color: #ffffff;
  border: 0 solid;
  padding: 10px 18px;
  display: inline-block;
  left: -60px;
  margin-top: 20px;
}
.butt1:hover {
  background-color: #4b4190;
  transition: all 100ms ease-in-out;
}
.butt2:hover {
  background-color: #4b4190;
  transition: all 100ms ease-in-out;
}

.weather-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  display: block;
  max-width: 95%;
  padding: 20px 16px 24px;
  border-radius: 15px;
  background-image: url(landscape.png);
  background-size: auto;
  border: none;
}
.whole-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  max-width: 95%;
  padding: 20px 16px 24px;
  border-radius: 15px;
  border: none;
}

div {
  display: block;
}

.search {
  border-radius: 20px;
  border-width: medium;
  border-color: #7768e4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 40px;
  outline: 0;
  padding: 10px;
  width: 60%;
}
.weather-summary {
  padding: 20px 0px;
  display: block;
}
.fasfa-map-marker-alt {
  height: 30px;
  display: inline;
  vertical-align: baseline;
}
.singapore {
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  line-height: 28px;
}
#weather-detail__text {
  color: #878787;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.li1 {
  color: #878787;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  display: block;
}
.li2 {
  color: #878787;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  display: block;
  text-transform: capitalize;
}
.li3 {
  color: #878787;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  display: block;
}
.li4 {
  color: #878787;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  display: block;
}

.temp {
  display: inline-block;
  color: #e7ebf6;
  font-size: 60px;
  vertical-align: middle;
  font-family: "Nunito Sans", sans-serif;
}
.temperature {
  margin: 35px 0px 0px;
  height: 100px;
}
.cards-container {
  margin: 20px 20px 20px 20px;
  border-radius: 30px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: white;
  border-color: #7768e4;
  border-radius: 20px;
  border-width: medium;
}
.card-body {
  border-radius: 30px;
  border-color: #7768e4;
}
.text-1 {
  margin-left: 27px;
  margin-top: 10px;
  font-size: 25px;
  color: #878787;
}

h5 {
  text-align: center;
}
.card-text {
  display: inline-block;
  vertical-align: middle;
  font-family: "Nunito Sans", sans-serif;
}
.bottom-cardtext {
  font-size: 11px;
  color: #7768e4;
  text-align: center;
  font-weight: bold;
}

.bottom-cardtext::first-letter {
  text-transform: capitalize;
}

.celsius {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  color: #e7ebf6;
  text-decoration: none;
}

.celsius:hover {
  color: #7768e4;
}

.fahrenheit {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  color: #e7ebf6;
  text-decoration: none;
}

.fahrenheit:hover {
  color: #7768e4;
}

.slash {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  padding: 0px 0px;
  color: #7768e4;
}

.github {
  font-family: "Nunito Sans", sans-serif;
  display: block;
  color: #7768e4;
  margin-left: 30px;
}

.icon {
  color: white;
}
